@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DoAnCoSo.Context.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Sản phẩm tìm thấy</h2>

<table class="table container">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Avartar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShortDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <img style="width:100px;" src="@item.Avartar" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShortDes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FullDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PriceDiscount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BrandId)
    </td>    
    <td>
        @Html.ActionLink("Xem chi tiết", "Detail", new { id = item.Id })
    </td>
</tr>
}

</table>

@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new {page, currentFilter = ViewBag.CurrentFilter}))*@